<div class="container">
    <header>
      <h3>
        <span class="glyphicon glyphicon-user"></span>
        {{ title }}
      </h3>
    </header>
    <h1>User Form</h1>
    <form #resetForm="ngForm" (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required #password="ngModel">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>